button {
  background-color: #382f5a;
  font-family: 'Roboto';
  color: #c4c4c4;
  font-size: 32px;
  height: 60px;
  width: 330px;
  padding: 10px;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  button {
    height: 32px;
    width: 92px;
    font-size: 14px;
    padding: 6px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  button {
    height: 46px;
    width: 210px;
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  button {
    height: 56px;
    width: 200px;
    font-size: 26px;
    padding: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  button {
    height: 58px;
    width: 260px;
    font-size: 30px;
    padding: 10px;
  }
}
